/* Estilo básico para la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado */
h2 {
    text-align: center;
}

/* Estilo para el enlace de registro de nuevo usuario */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

a:hover {
    background-color: #0056b3;
}
